*{
    margin: opx;
    padding: opx;
}


body{

    background-color: blueviolet;
}
#container{
    width: 80%;
   margin: 0px auto;
    border: 1px solid black;
}


#header{
    height: 110px;
    background-color: chocolate;
     color: white
text-align:center
line: height 100px;
} 